.numbers{
    border: none;
}

.alkalimetals{
     background-color: burlywood;
}
.alkalineEarthMetal{
    background-color: coral;
    
}
.transitionelement{
    background-color: mediumpurple;
}
.otherelement{
    background-color: chocolate;
    
}
.halogens{
    background-color:forestgreen;
}
.nobalgasses{
    
}
.ree{
    background-color: aquamarine;
    
}
.actinoidelement{
    background-color: aqua;
}
.othermetals{
    background-color: pink;
}
.ls{
    border: none;
}

.as{
    border: none;
}
